{
  "extends": ["next", "next/core-web-vitals", "prettier"],
  "rules": {
    "next/link-passhref": "off",
    "next/no-img-element": "off",
    // if you prefer to use <img> tags directly
    "prettier/prettier": "warn"
    // Or "error" if you prefer
  },
  "plugins": [
    "prettier",
    "eslint-plugin-prettier",
    "prettier-plugin-tailwindcss"
  ]
}
